<!DOCTYPE html>
<html lang="en">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <img
          src="/public/images/WikiMap-logos_black.png"
          alt=""
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <!-- login route is /login READDD MEE-->
          <!-- Register route is /register READDD MEE-->
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link active" aria-current="page" href="/new/:mapId"
              ><strong>Create</strong> New Map</a
            >
            <a class="nav-link" href="/contributions/:id">Contributions</a>
            <a class="nav-link" href="/favourites/:id">Favorites</a>
            <a class="nav-link" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main style="margin: 1em">
    <h3>Profile</h3>
  </main>
</html>
