$primary-color: #DAD870;

html body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background-color: $primary-color;
  background-image: url(../images/wave.webp);
  background-repeat: no-repeat;
  background-position: bottom;

  font-family: 'Bungee', cursive;
  font-family: 'Lexend Deca', sans-serif;
}

nav {
  background-color: transparent;
  color: $primary-color;
  height: 130px;
  display:flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0px;
  margin: 0px;
}
.navbar-custom {
  background-color: #b1af38;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;


  img {
    width: 80%;
  }
}

input {
  resize: none;
  white-space: nowrap;
  border: none;
  border-bottom: groove;
  border-color: darkgray;
  width: 100%;
  background-color: transparent;
  height: 2em;
  }

  .pageTitle {
    color:white;
    font-size: 45px;
    padding-bottom: 1em;
  }

  .newMapBody {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 4em;
  }

  .sub {
    overflow: visible;
    background-color: $primary-color;
    color: white;
    border: none;
    width: 150px;
    margin-top: 2em;
  }

  .sub:hover {
    background-color:#b1af38;
  }

  button:active {
    background-color:#FF5C4D;
  }

  #desc {
    border: groove;
    height: 200px;
    border-color: darkgray;
    background-color: transparent;
  }

.rightNav {
  margin-right:0px;
}

.hidden {
  display: none;
}
